@using ITproject2020.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<h2>Најава</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.Email,"е-Маил", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password,"Лозинка",new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe,"Запамети ме")
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Најава" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Регистрирај се", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <img src="https://scontent.fskp3-1.fna.fbcdn.net/v/t1.15752-9/119221881_1239450829749840_509398055016622618_n.jpg?_nc_cat=106&_nc_sid=b96e70&_nc_ohc=BGMe5rLXrUkAX_hZBH7&_nc_ht=scontent.fskp3-1.fna&oh=e19838fef4f7acd3284e4c5866e306de&oe=5F821A68" alt=""/>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}