@model ITproject2020.Models.SeatListModel

@{
    ViewBag.Title = "Create";
}


<h3>Име на претстава: @Model.Performance.PerformanceName</h3>
<h3>Датум на одржување: @Model.Performance.PerformanceDateTime</h3>
<h3>Место на одржување: @Model.Performance.Building.BuildingName</h3>
@using (Html.BeginForm("Create", "Reservations", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>

        @foreach (var item in Model.availableSeats)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="selectedSeats" value="@item.SeatId" />@item.SeatNumber  
                </label>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="btn" type="submit" value="Резервирај" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
