@model ITproject2020.Models.Reservation

@{
    ViewBag.Title = "Delete";
}



<h3>Дали сте сигурни дека сакате да ја избришете вашата резервација?</h3>
<div>
    <table>
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Seat.SeatNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seat.Performance.PerformanceName)
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Seat.SeatNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Seat.Performance.PerformanceName)
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад кон мои резервации", "Index")
        </div>
    }
</div>
