@model IEnumerable<ITproject2020.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Листа на резервации</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seat.SeatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat.Performance.PerformanceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat.Performance.PerformanceDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Seat.SeatNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Seat.Performance.PerformanceName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Seat.Performance.PerformanceDateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.UserName)
    </td>
    <td>
       
        @Html.ActionLink("Избриши", "Delete", new { id = item.ReservationId })
    </td>
</tr>
}

</table>
