@model ITproject2020.Models.Performance

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Изведба</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformanceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformanceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformanceDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformanceDateTime)
        </dd>

        <dt>
            
        </dt>

        <dd>
            <img src="@Model.ImageURL" style="max-width:200px" />
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Промени", "Edit", new { id = Model.PerformanceId }) 
    }
    @Html.ActionLink("Назад", "Index")
</p>
