@model IEnumerable<ITproject2020.Models.Performance>

@{
    ViewBag.Title = "Index";
}

<h2>Листа на изведби</h2>

<p>
    @Html.ActionLink("Креирај нова изведба", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerformanceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerformanceDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Building.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceDateTime)
        </td>
        <td>
            <img src="@item.ImageURL" style="max-width:200px"/>
        </td>
        <td>
            @Html.ActionLink("Промени", "Edit", new { id = item.PerformanceId }) |
            @Html.ActionLink("Детали", "Details", new { id = item.PerformanceId }) |
            @Html.ActionLink("Избриши", "Delete", new { id = item.PerformanceId }) |
            @Html.ActionLink("Резервирај", "Create", "Reservations", new { id = item.PerformanceId }, null)
        </td>
    </tr>
}

</table>
