@model IEnumerable<ITproject2020.Models.Building>

@{
    ViewBag.Title = "Index";
}

<h2>Листа на објекти</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Креирај нов објект", "Create")
    </p>
}

<table id="buildingsTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingAddress)
                </td>
                <td>
                    @Html.ActionLink("Детали", "Details", new { id = item.BuildingId })
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Промени", "Edit", new { id = item.BuildingId })

                      
                       <a class="btn-link js-delete" data-id="@item.BuildingId">Избриши</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#buildingsTable').DataTable({
                "language": {
                    "sProcessing": "Процесирање...",
                    "sLengthMenu": "Прикажи _MENU_ записи",
                    "sZeroRecords": "Не се пронајдени записи",
                    "sEmptyTable": "Нема податоци во табелата",
                    "sLoadingRecords": "Вчитување...",
                    "sInfo": "Прикажани _START_ до _END_ од _TOTAL_ записи",
                    "sInfoEmpty": "Прикажани 0 до 0 од 0 записи",
                    "sInfoFiltered": "(филтрирано од вкупно _MAX_ записи)",
                    "sInfoPostFix": "",
                    "sSearch": "Барај",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Почетна",
                        "sPrevious": "Претходна",
                        "sNext": "Следна",
                        "sLast": "Последна"
                    }
                }
            });
           
            $("#buildingsTable .js-delete").click(function () {
                var button = $(this);
                bootbox.confirm("Дали сте сигурни дека сакате да го избришете овој објект?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                method: "DELETE",
                                url: "/api/BuildingsApi/" + button.attr("data-id"),
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            })
                        }
                    })


            })

           

        });
    </script>
    
}